* {
    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(90deg,hsl(0, 18%, 63%),hsl(240, 57%, 65%));
    width: 100vw;
    height: 100vh;
    gap: 50px;
}

.container {
    display: flex;
    align-items: center;
    gap: 100px;
    
    
   
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(251, 82%, 78%);
    border: 1px ridge hsl(251, 82%, 78%);
    height: 500px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
 }

.content-1 {
    height: 500px;
}

.content-2 {
    height: 600px;
}

.content-3 {
    height: 490px;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid yellow;
    background-color: yellow;
    cursor: pointer;
    transition: all 0.25 ease;
}

button:hover {
    background-color: rgb(248, 248, 138);
}

h2 {
    color: white;
    text-shadow: 4px 1px 3px rgba(0,0,0,0.43);
    font-family: "DM Sans", sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 200;
    
}

p {
    width: 200px;
    font-size: 15px;
    font-weight: 900;
    border-bottom: 0.5px solid hsl(252, 30%, 63%);
    font-family: "DM Sans", sans-serif;
    padding-bottom: 10px;

}

span {
    width: 200px;
    font-size: 15px;
    font-weight: 900;
    font-family: "DM Sans", sans-serif;
    
}

h4 {
    font-size: 15px;
    font-weight: 900;
    font-family: "DM Sans", sans-serif; 
}